<div class="
 d-flex align-items-center justify-content-center mb-3">
    <div class="card" style="width: 18rem;">
        <img src="/images/blogimg-2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title fw-bold roboto">{{post1.title}}</h5>
            <p class="card-text"> {{post1.content}} </p>

            <a href="#" class="btn btn-primary m-2">View</a>
            <a class="btn btn-primary m-2" [routerLink]="['/blog/editpost', post1.id]"
                routerLinkActive="active">Edit</a>
            <a href="#" class="btn btn-danger " (click)="onDelete(post1.id)">Delete</a>
        </div>
    </div>
</div>